<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <h2>Lista de <b>pedidos</b></h2>
                    <a class="btn btn-light ml-auto" (click)=createOrder()><i class="fa fa-file" aria-hidden="true"></i>  Crear</a>
                </div>
            </div>
        </div>
        <!-- search by state -->
        <div class="table-filter">
            <div class="col">
                <input type="search" [(ngModel)]="state" placeholder="&#xF002;  Por estado" style="font-family:Arial, FontAwesome" />
            </div>
        </div>
        <!-- orders table -->
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Código</th>
                    <th scope="col">Inicio</th>
                    <th scope="col">Asignación</th>
                    <th scope="col">Entrega</th>
                    <th scope="col">Empleado</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Prioridad</th>
                    <th class="text-center" scope="col">Total</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of orders | orderFilter: state | paginate: {itemsPerPage: 5, currentPage: p};let i = index'>

                    <td><strong> {{ 5* (+p - 1) + i + 1 }}</strong></td>
                    <td>DH-{{item.id}}</td>
                    <td>{{item.startDate |date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.assignDate|date: 'dd-MM-yyyy'}}<span *ngIf='!item.assignDate' style="color:red">No asignado</span></td>
                    <td>{{item.endDate|date: 'dd-MM-yyyy'}} <span *ngIf='!item.endDate' style="color:red">No entregado</span></td>
                    <td *ngIf='item.employeeId'>{{item.employee.name}} {{item.employee.surname1}} {{item.employee.surname2}}</td>
                    <td *ngIf='!item.employeeId' style="color:red">No asignado</td>
                    <td>{{item.customer.name}}</td>
                    <td>{{item.state.name}}</td>
                    <td [ngStyle]="{'color':getColor(item.priority.name)}">{{item.priority.name}}</td>
                    <td class="text-right">{{item.totalPvpIva| number:'1.2-2'}}
                        <span *ngIf='item.totalPvpIva'>€</span>
                        <span *ngIf='!item.totalPvpIva' style="color:red">No ítems</span>
                    </td>
                    <td>
                        <a [routerLink]="['/itemsOrder','order',item.id]" [queryParams]="{pagina:p}"><i class="fa fa-info-circle mr-2 ml-1" style="color:lightseagreen" data-toggle="tooltip" data-placement="bottom" title="Detalles pedido DH-{{item.id}}"></i></a>
                        <a [routerLink]="['/editOrder','order', item.id]" [queryParams]="{pagina:p}"><i class="fa fa-pencil mr-2" style="color:#4CAF50" data-toggle="tooltip" data-placement="bottom" title="Editar pedido DH-{{item.id}}"></i></a>
                        <a [routerLink]="" (click)=deleteOrder(item.id)><i class="fa fa-trash" style="color:red" data-toggle="tooltip" data-placement="bottom" title="Borrar pedido DH-{{item.id}}"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <pagination-controls class="pagination justify-content-center" style="color: black" (pageChange)="p = $event"></pagination-controls>
</div>